<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
      <nav>
    <header>
      <h1>
        <a href="/">Tech Blog</a> 
      </h1>
        <a class="home" href="/">Home</a> 
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a class="" href="/login">Login</a>
        {{/if}}
    </header>
      </nav>
    <main>
      {{{ body }}}

    </main>

    <footer>

      © The Tech Blog Folks
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

<script src="/js/home.js"></script>


</html>